@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');


/***************** Components *****************/

:root {
/* =============== Color =============== */
--main-color: #0B65D6;
--gray-color: #8c8c8c;
--black-color: #3d3d3d;
--white-color: #ffffff;

/* =============== Font =============== */
--h1-font: 3.052rem;
--h2-font: 2.441rem;
--h3-font: 1.953rem;
--h4-font: 1.563rem;
--h5-font: 1.25rem;
--body-font: 1rem;
--caption-font: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'outfit', sans-serif;
  background-color: #0B65D6;
  }

body {
  margin: auto;
  max-width: 1200px;
  color: var(--white-color);
  font-size: var(--body-font);
  }

/*********** Navigation ************/

nav {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-top: 20px;
  }

nav a {
  text-decoration: none;
  font-size: var(--body-font);
  color: var(--white-color);
  }

.right-nav {
  display: flex;
  column-gap: 20px;
  }

svg {
  width: 40px;
  height: 40px;
  }

.right-nav .dot {
  width: 6px;
  height: 6px;
  background-color: var(--white-color);
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: translate(-158px, 25px);
  transform: translate(-158px, 25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }

.right-nav a:nth-child(1):hover ~ .dot {
  -webkit-transform: translate(-158px, 25px);
  transform: translate(-158px, 25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }

.right-nav a:nth-child(2):hover ~ .dot {
  -webkit-transform: translate(-105px, 25px);
  transform: translate(-105px, 25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }

.right-nav a:nth-child(3):hover ~ .dot {
  -webkit-transform: translate(-47px, 25px);
  transform: translate(-47px, 25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }

.active {
  color: var(--white-color);
  }

.active ~ .dot {
  -webkit-transform: translate(-47px, 25px);
  transform: translate(-47px, 25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  }

/**************** About me *******************/

.my-name {
  font-size: var(--h1-font);
  font-weight: 500;
}


.about img {
  width: 100%;
  
}




/**************** Footer *******************/

