@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
 

:root {
/* =============== Color =============== */
    --main-color: #0B65D6;
    --gray-color: #8c8c8c;
    --black-color: #424242;
    --white-color: #ffffff;

    --checkco-main: #26b58a;
    --background-color:#26b58a1d;
    
/* ================= Font ================= */

    --h1-font: 3.052rem;
    --h2-font: 2.441rem;
    --h3-font: 1.953rem;
    --h4-font: 1.563rem;
    --h5-font: 1.25rem;
    --body-font: 1rem;
    --caption-font: 0.8rem;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
    line-height: 26px; 
}

body {
    margin: auto;
    max-width: 1200px;
    font-size: var(--body-font);
    color: var(--black-color);
    font-weight: 300;
    overflow-x: hidden;
    line-height: 25px;
}

/* Nevigation */

nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-top: 30px;
    font-weight: 400;
}
  
nav a {
    text-decoration: none;
    font-size: var(--body-font);
    color: var(--gray-color);
}

svg {
    width: 40px;
    height: 40px;
}

.right-nav{
    display: flex;
}

.margin {
    padding-left: 30px;
}

.right-nav .dot {
    width: 6px;
    height: 6px;
    background-color: var(--main-color);
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: translate(-150px, 25px);
    transform: translate(-150px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.right-nav a:nth-child(1):hover ~ .dot {
    -webkit-transform: translate(-150px, 25px);
    transform: translate(-150px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.right-nav a:nth-child(2):hover ~ .dot {
    -webkit-transform: translate(-89px, 25px);
    transform: translate(-89px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.right-nav a:nth-child(3):hover ~ .dot {
    -webkit-transform: translate(-24px, 25px);
    transform: translate(-24px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.active {
    color: var(--main-color)
}

.active ~ .dot {
    -webkit-transform: translate(-150px, 25px);
    transform: translate(-150px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

/************ Width Setting *************/

.wide-width {
    max-width: 900px;
    margin: 50px auto;
}

.narrow-width {
    max-width: 700px;
    margin: 50px auto;
}

.full-width-nonbackground {
    margin: 0 -9999rem;
    padding: 3rem 9999rem;
}

.full-width-background {
    margin: 0 -9999rem;
    padding: 3rem 9999rem;
    background-color: var(--background-color);
}

section img {
    width: 100%;
}

/************* Typography Setting *************/

.title {
    color: var(--checkco-main);
    font-weight: 400;
    font-size: var(--h5-font);
    margin-bottom: 10px;
}

/************* Hero *************/
.hero {
    text-align: center;
}

.intro {
    margin-top: 50px;
}

.hero-title {
    color: var(--checkco-main);
    font-size: var(--h3-font);
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-explain {
    color: var(--checkco-darkgray);
    font-size: var(--body-font);
    font-weight: 300;
    margin-bottom: 10px;
}

.btn-prototpye {
    color: var(--checkco-darkgray);
    text-decoration: none;
    font-weight: 500;
}

.btn-prototpye:hover {
    color: var(--checkco-main);
}
 
.hero-info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center; 
    margin-top: 50px;
}

.hero-info {
    margin-bottom: 10px;
    padding-left: 20px;
}

.hero-info-title {
    color: var(--checkco-main);
    font-weight: 400;
}

/************* HMW *************/

.center {
    padding: 50px 50px;
    text-align: center;
    background-color: var(--background-color); 
}

.design-challenge {
    margin-top: 20px;
    font-size: var(--h5-font);
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
}

/************* Goal *************/
.goal-content {
    margin-bottom: 25px ;
}

.goal-content h4 {
    font-weight: 500;
}

/************* Research *************/
.assumptions {
    margin-bottom: 30px;
}
.assumptions h4 {
    font-weight: 500;
}


/************* Key insights *************/

.key-insights {
    color: var(--black-color);
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    line-height: 40px;
}

.number {
    color: var(--checkco-main);
    font-size: var(--h2-font);
    font-weight: 400;
    padding-right: 20px;
    line-height: 40px;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.col-3 p {
    background-color: var(--background-color);
    padding: 30px;
}


/************* Solution *************/
.full-width-nonbackground  img,
.full-width-background img{
   max-width: 100%;
}

.full-width-nonbackground  .grid,
.full-width-background .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 400;
}

.feature-explain-left {
    margin-left: 50px;
}

.feature-explain-right {
    margin-right: 50px;
}

.sketches img {
    width: 50%;
}


.sketches {
    display: flex;
    flex-direction: row;
   
    
}


/************* Footer **************/

footer {
display: flex;
flex-direction: column;
justify-content: center;
height: 300px;
font-weight: 400;
}

footer .title {
font-size: var(--h3-font);
font-family: 'IBM Plex Serif', serif;
font-style: italic;
color: var(--main-color);
font-weight: 600;
margin-bottom: 10px;
}

footer .footer-content {
font-size: var(--h5-font);
margin-bottom: 10px;
}

footer a {
text-decoration: none;
font-size: var(--h5-font);
color: #8c8c8c;
padding-right: 10px;
}

footer .footer-dot {
width: 6px;
height: 6px;
background-color: var(--main-color);
border-radius: 50%;
opacity: 0;
-webkit-transform: translate(-10px, 2px);
transform: translate(-10px, 2px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

footer a:nth-child(1):hover ~ .footer-dot {
-webkit-transform: translate(35px, 2px);
transform: translate(35px, 2px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}

footer a:nth-child(2):hover ~ .footer-dot {
-webkit-transform: translate(110px, 2px);
transform: translate(110px, 2px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}

footer a:hover {
color: var(--main-color);
}


