@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');
 
:root {
/* =============== Color =============== */
    --main-color: #0B65D6;
    --gray-color: #8c8c8c;
    --black-color: #424242;
    --white-color: #ffffff;

    --checkco-main: #26b58a;
    --checkco-gray:#C5C5C5;
    --checkco-darkgray: #8A8A8A;
    --background-color:#eaf5d4;
    
/* ================= Font ================= */
    --h1-font: 3.052rem;
    --h2-font: 2.441rem;
    --h3-font: 1.953rem;
    --h4-font: 1.563rem;
    --h5-font: 1.25rem;
    --body-font: 1rem;
    --caption-font: 0.8rem;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}

body {
    margin: auto;
    max-width: 1200px;
    font-size: var(--body-font);
    color: var(--black-color);
    font-weight: 300;
    overflow-x: hidden;
    line-height: 25px;
}

/* Nevigation */

nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-top: 30px;
}
  
nav a {
    text-decoration: none;
    font-size: var(--body-font);
    color: var(--gray-color);
}

svg {
    width: 40px;
    height: 40px;
}

.right-nav{
    display: flex;
}

.margin {
    padding-left: 30px;
}

.right-nav .dot {
    width: 6px;
    height: 6px;
    background-color: var(--main-color);
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: translate(-150px, 25px);
    transform: translate(-150px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.right-nav a:nth-child(1):hover ~ .dot {
    -webkit-transform: translate(-150px, 25px);
    transform: translate(-150px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.right-nav a:nth-child(2):hover ~ .dot {
    -webkit-transform: translate(-89px, 25px);
    transform: translate(-89px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.right-nav a:nth-child(3):hover ~ .dot {
    -webkit-transform: translate(-24px, 25px);
    transform: translate(-24px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.active {
    color: var(--main-color)
}

.active ~ .dot {
    -webkit-transform: translate(-150px, 25px);
    transform: translate(-150px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

/************ Width Setting *************/

.wide-width {
    max-width: 900px;
    margin: 50px auto;
}

.narrow-width {
    max-width: 700px;
    margin: 50px auto;
}

.full-width {
    margin: 0 -9999rem;
    padding: 1rem 9999rem;
    background-color: var(--checkco-main);
    line-height: 32px;
}

.full-width-background {
    margin: 0 -9999rem;
    padding: 1rem 9999rem;
    background-color: #eaf5d4;
    line-height: 32px;
}

section img {
    width: 100%;
}

/************* Typography Setting *************/

.title {
    color: var(--checkco-main);
    font-weight: 500;
    font-size: var(--h5-font);
    margin-bottom: 10px;
}

/************* Hero *************/

.hero-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
} 

.hero-title {
    color: var(--checkco-main);
    font-size: var(--h4-font);
    font-weight: 500;
    margin-bottom: 10px;
}

.hero-explain {
    color: var(--checkco-darkgray);
    font-size: var(--body-font);
    font-weight: 300;
    margin-bottom: 10px;
}

.hero-info-container {
    color: var(--checkco-darkgray);
    font-size: var(--caption-font);
    line-height: 20px;
}

.hero-info {
    margin-bottom: 10px;
}

/************* HMW *************/

.center {
    padding: 50px 0;
    text-align: center;
    background-color: #d8fef3;
}





/************* Key insights *************/

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.col-3 p {
    background-color: #d8fef3;
    padding: 30px;
}
    






 

/************* Solution *************/
.full-width img,
.full-width-background img{
   max-width: 100%;
}

.full-width .grid,
.full-width-background .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

