@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');


/***************** Components *****************/

 :root {
   /* =============== Color =============== */
   --main-color: #3B28CC;
   --gray-color: #B4B4B4;
   --black-color: #2B2B2B;
   --white-color: #ffffff;

   --bg-royal-blue: #002171;
   --bg-yale-blue: #0d47a1;
   --bg-vivid-amber:#c79100;
   --bg-mikado-yellow:#ffc107;
   --bg-dark-gray:#4d4d4d;
   --bg-medium-gray:#999999;
   --bg--off-white:#edeef8;

   /* =============== Font =============== */
    --h1-font: 3.052rem;
    --h2-font: 2.441rem;
    --h3-font: 1.953rem;
    --h4-font: 1.563rem;
    --h5-font: 1.25rem;
    --body-font: 1rem;
    --body2-font: 0.8rem;
    --caption-font:0.64rem;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

body {
  margin: auto;
  max-width: 1200px;
  color: var(--black-color);
  font-size: var(--body-font);
  }

small {
  text-transform: uppercase;
  font-weight: 600;
}

.title {
  font-size: var(--body-font);
  color: var(--bg-yale-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  }

.subtitle {
  font-size: var(--body-font);
  font-weight: 500;
  color: var(--bg-dark-gray);
  }

.btn {
  background-color: var(--bg-royal-blue);
  font-size: var(--body-font);
  padding: 10px 20px;
  color: var(--bg--off-white);
  border: 1px solid var(--bg-royal-blue);
  border-radius: 5px;
  cursor: pointer;
  }

.btn:hover {
  background-color: var(--bg--off-white);
  color: var(--bg-royal-blue);
  }

/************* Navigation **************/

nav {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-top: 20px;
  }

nav a {
  text-decoration: none;
  font-size: var(--body-font);
  color: var(--gray-color);
  }

.right-nav {
  display: flex;
  column-gap: 20px;
  }

svg {
  width: 40px;
  height: 40px;
  }

/************* Hero **************/

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 32px;
}

.hero-title {
  font-size: var(--h3-font);
  font-weight: 500;
  color: var(--bg-yale-blue);
  margin-bottom: 10px;
}

.hero-explain {
  font-size: var(--h5-font);
  color: var(--bg-dark-gray);
  margin-bottom: 10px;
}

.hero-container button {
  margin-bottom: 30px;
}

.hero-container h3 {
  color: var(--bg-dark-gray);
  text-transform: uppercase;
}

.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  font-size: var(--body2-font);
}

.img-checkco-hero {
  width: 50%;
  }

  /************* Grid Container **************/

  .grid-container-col-2 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 10% 80%;
    justify-content: center;
    column-gap: 10%;
    margin: 100px auto; 
    }

.grid-container-col-3-even {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 30px;
    }

.grid-container-col-3 {
    display: grid;
    grid-template-columns: 10% 30% 40%;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    }


.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    }

/**************** Problem *****************/

.img-problem {
    width: 50%;
    }

/**************** Challenge *****************/

.challenge p {
    font-size: var(--body-font);
    font-weight: 600;
    }

/**************** Goals *****************/

.goal li {
    list-style: none;
    }

/**************** Process *****************/


.research-content {
  grid-row: 2;
  grid-column: 2;
  margin-top: 20px;
  }

.img-research {
  width: 100%;
  text-align: center;
  border: 5px solid var(--checkco-main);
  border-radius: 10px;
  }

/**************** Solution *****************/

.solution-grid {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 5%;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  }

.img-container {
  display: flex;
  justify-content:center;
  }

.img-container img {
  width: 50%;
  }

/**************** Footer *****************/

footer {
display: flex;
flex-direction: column;
height: 200px;
}

