@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');


/***************** Components *****************/

 :root {
   /* =============== Color =============== */
   --main-color: #3B28CC;
   --gray-color: #B4B4B4;
   --black-color: #2B2B2B;
   --white-color: #ffffff;

   --bg-royal-blue: #002171;
   --bg-yale-blue: #0d47a1;
   --bg-vivid-amber:#c79100;
   --bg-mikado-yellow:#ffc107;
   --bg-dark-gray:#4d4d4d;
   --bg-medium-gray:#999999;
   --bg--off-white:#edeef8;

   /* =============== Font =============== */
    --h1-font: 3.052rem;
    --h2-font: 2.441rem;
    --h3-font: 1.953rem;
    --h4-font: 1.563rem;
    --h5-font: 1.25rem;
    --body-font: 1rem;
    --body2-font: 0.8rem;
    --caption-font:0.64rem;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

body {
  margin: auto;
  max-width: 1200px;
  color: var(--black-color);
  font-size: var(--body-font);
  overflow-x: hidden;
  }

small {
  text-transform: uppercase;
  font-weight: 600;
}

.title {
  font-size: var(--h4-font);
  color: var(--bg-royal-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px 0;
  }

.subtitle {
  font-size: var(--body-font);
  font-weight: 500;
  color: var(--bg-vivid-amber)
  }

.btn {
  background-color: var(--bg-royal-blue);
  font-size: var(--body-font);
  padding: 10px 20px;
  color: var(--bg--off-white);
  border: 1px solid var(--bg-royal-blue);
  border-radius: 5px;
  cursor: pointer;
  }

.btn:hover {
  background-color: var(--checkco-main);
  color: var(--bg-royal-blue);
  }

/************* Navigation **************/

nav {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-top: 20px;
  }

nav a {
  text-decoration: none;
  font-size: var(--body-font);
  color: var(--gray-color);
  }

.right-nav {
  display: flex;
  column-gap: 20px;
  }

svg {
  width: 40px;
  height: 40px;
  }

/************* Hero **************/

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  }

.hero-title {
  font-size: var(--h3-font);
  font-weight: 500;
  color: var(--bg-royal-blue);
  margin-bottom: 10px;
  line-height: 40px;
  }

.hero-explain {
  font-size: var(--h5-font);
  color: var(--bg-vivid-amber);
  margin-bottom: 10px;
  }

.hero-container button {
  margin-bottom: 30px;
  }

.hero-container h3 {
  color: var(--bg-royal-blue);
  text-transform: uppercase;
  }

.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  font-size: var(--body2-font);
  }

.img-checkco-hero {
  width: 50%;
  }

/************* Content **************/

.center-width {
  max-width: 820px;
  width: 100%;
  margin: 50px auto;
  line-height: 30px;
  }

.full-width {
  margin: 0 -9999rem;
  padding: 3rem 9999rem;
  background-color: var(--bg--off-white); 
  line-height: 30px;
  text-align: center;
  }

.grid-container-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  }

.grid-container-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px 0; 
  justify-content: space-between;
  column-gap: 100px;
  text-align: center;
  }

.full-width .title {
  color: var(--bg-royal-blue);
  text-align: center;
  }

.full-width .subtitle {
  color: #2B2B2B;
  text-align: center;
  }

.challenges .title {
  color: var(--white-color);
  text-align: center;
  }

.img-research {
  width: 100%;
  }

/************* Solution **************/

.solution-grid {
  display: grid;
  justify-content: center;
  column-gap: 30px;
}

.solution-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-solution {
  width: 250px;
}

