@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');

 :root {
   /* =============== Color =============== */
   --main-color: #CF0019;
   --second-color: #E6DDD3;
   --black-color: #3A3845;

   /* =============== Font =============== */
   --title-size: 3.052rem;
   --subtitle-size: 2.441rem;
   --body-size: 1rem;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: antiquewhite;
  margin: auto;
  max-width:150vh;
  color: var(--black-color);
   
}

/* Navigation */
nav {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  max-width: 100%;
  margin: 30px 0 30px 0;
}

nav a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--main-color);
  padding: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}



/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  background-color:coral;
  height: 100vh;

  
}

h1 {
  font-size: var(--title-size);
}

.hero h2 {
font-size: var(--subtitle-size);
}


/* Work */

.container {
  display: flex;
  flex: 1fr;
  max-width: 70%;
}