@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');

/***************** Components *****************/

:root {
/* =============== Color =============== */
--main-color: #3B28CC;
--gray-color: #8c8c8c;
--black-color: #2B2B2B;
--white-color: #ffffff;

/* =============== Font =============== */
--h1-font: 3.052rem;
--h2-font: 2.441rem;
--h3-font: 1.953rem;
--h4-font: 1.563rem;
--h5-font: 1.25rem;
--body-font: 1rem;
--caption-font: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

body {
  margin: auto;
  max-width: 1200px;
  color: var(--black-color);
  font-size: var(--body-font);
  }

/*********** Navigation ************/

nav {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-top: 20px;
  }

nav a {
  text-decoration: none;
  font-size: var(--body-font);
  color: var(--gray-color);
  }

.right-nav {
  display: flex;
  column-gap: 20px;
  }

svg {
  width: 40px;
  height: 40px;
  }

/************* Hero **************/

.hero {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  }

h1 {
  font-size: var(--h1-font);
  color: var(--main-color);
  }

.hero h2 {
  font-size: var(--h5-font);
  color: var(--black-color);
  font-weight: 400;
  max-width: 650px;
  line-height: 40px;
  }

/************* Selected Work **************/

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.work-content {
  display: flex;
  flex-direction: column;

}

.work-content img {
  /* object-fit: cover; */
  width: 100%;
  height: 50vh;
}

/* .grid-container {
  display: grid;  
  }

.grid-content {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  }

.grid-container img {
width: 100%;
text-align: center;
border-radius: 10px;
margin-bottom: 50px;
}

.grid-container .grid-content p {
font-size: var(--h3-font);
font-weight: 500;
margin: 10px 0;
}

.grid-container .grid-content small {
color: var(--main-color);
}

.btn {
padding: 8px 20px;
border: none;
background-color: var(--main-color);
color: var(--white-color);
font-size: var(--body-font);
border-radius: 3px;
}

.in-progress {
background-color: #B4B4B4;
cursor: progress;
} */
/************* Footer **************/

footer {
display: flex;
flex-direction: column;
justify-content: center;
height: 500px;
}



/************* Animation **************/
/* .img-container {
position: relative;
width: 100%;
}

.img-x1networks {
display: block;
width: 100%;
height: auto;
-webkit-filter: grayscale(0);
filter: grayscale(0);
-webkit-transition: .1s ease-in-out;
transition: .1s ease-in-out;
} */

