@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');
 

/************* Component **************/

:root {
   /* =============== Color =============== */
   --main-color: #3B28CC;
   --gray-color: #B4B4B4;
   --black-color: #2B2B2B;
   --white-color: #ffffff;

   --checkco-main: #26b58a;
   --checkco-trasprent: rgba(38, 181, 138, 0.1);
   --checkco-gray:#C5C5C5;
   --checkco-darkgray: #8A8A8A;

   /* =============== Font =============== */
   --h1-font: 3.052rem;
   --h2-font: 2.441rem;
   --h3-font: 1.953rem;
   --h4-font: 1.563rem;
   --h5-font: 1.25rem;
   --body-font: 1rem;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    }

body {
    /* margin: auto; 
    max-width: 100vh; */
    color: var(--black-color);
    font-size: var(--body-font);
    line-height: 28px;
  }

section {
    margin: auto;
    margin-bottom: 100px;
    max-width: 100vh;

}

.title {
    font-size: var(--h4-font);
    color: var(--checkco-main);
    margin-bottom: 20px;
}

.subtitle {
    color: var(--checkco-darkgray);
    font-size: var(--h4-font);
    font-weight: 600;
    margin-bottom: 30px;
}

/************* Navigation **************/

nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    max-width: 100vh;
    margin: auto;
    padding: 50px 0 50px 0;
    font-weight: 500;
  }
  
nav a {
    text-decoration: none;
    font-size: var(--h5-font);
    padding: 15px;
  }

nav a {
    text-decoration: none;
    font-size: var(--h5-font);
    padding: 15px;
    color: #B4B4B4;
  }
  
nav .myname{
    color: var(--main-color);
    font-weight: 600;
  }
  
nav a:hover {
    color: var(--main-color);
  }
  
nav .active {
    color: var(--main-color);
  }

/************* Hero **************/

.hero-img {
    width: 100%;
   height: 50%;
}

.hero {
    margin-top: 50px;
    text-align: center;
}

.checkco-logo {
    width: 140px;
    height: 90px;
    margin-bottom: 20px;
}

.hero p {
    font-size: var(--h4-font);
    color: var(--checkco-darkgray);
    line-height: 40px;
    margin: auto;
    max-width: 90vh;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}

.btn-hifi {
    background-color: var(--white-color);
    color: var(--checkco-main);
    font-size: var(--h5-font);
    padding: 10px 20px;
    border: 2px solid var(--checkco-main);
    border-radius: 5px;
    cursor: pointer;
  }

.btn-hifi:hover {
    background-color: var(--checkco-main);
    color: var(--white-color);
}

/************* Overview **************/

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.grid-container-col-3{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 1fr 1fr;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container h3 {
    color: var(--checkco-darkgray);
}

/************* Problem **************/

.problem .title {
    color: var(--checkco-main);
}

.img-problem {
    width: 100%;
}

.prob-1 {
    grid-column-start: 2;
    grid-column-end: 2 ;
}

/************* Challenge **************/

.challenge-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

/************* Goals **************/


.goals .subtitle {
    margin-bottom: 20px;
}

.goals-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}


/************* Process **************/


.research-content {
    grid-row: 2;
    grid-column: 2;
}


.img-research
{
    width: 100%;
    text-align: center;
}

.flowchart-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

/************* Solution **************/

.solution img {
    width: 100%;
}

.solution-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 50px 0 50px 0;
}