@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');
 

/************* Component **************/

:root {
   /* =============== Color =============== */
   --main-color: #3B28CC;
   --gray-color: #B4B4B4;
   --black-color: #2B2B2B;
   --white-color: #ffffff;

   --checkco-main: #26b58a;
   --checkco-gray:#C5C5C5;
   --checkco-darkgray: #8A8A8A;

   /* =============== Font =============== */
   --h1-font: 3.052rem;
   --h2-font: 2.441rem;
   --h3-font: 1.953rem;
   --h4-font: 1.563rem;
   --h5-font: 1.25rem;
   --body-font: 1rem;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    }

body {
    margin: auto;
    max-width: 1100px;
    color: var(--black-color);
    font-size: var(--body-font);
    line-height: 30px;
    }

.title {
    font-size: var(--h3-font);
    color: var(--checkco-main);
    margin-bottom: 20px;
    }

.subtitle {
    color: var(--checkco-darkgray);
    font-size: var(--h4-font);
    line-height: 40px;
    font-weight: 500;
    }

.btn {
    background-color: var(--white-color);
    color: var(--checkco-main);
    font-size: var(--body-font);
    padding: 10px 20px;
    border: 1px solid var(--checkco-main);
    border-radius: 5px;
    cursor: pointer;
    }

.btn:hover {
    background-color: var(--checkco-main);
    color: var(--white-color);
    }

/************* Navigation **************/

nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding: 50px 0 50px 0;
    font-weight: 500;
  }
  
nav a {
    text-decoration: none;
    font-size: var(--body-font);
    padding: 15px;
    color: #B4B4B4;
  }
  
nav .myname{
    color: var(--main-color);
    font-size: var(--h4-font);
    font-weight: 600;
  }
  
nav a:hover {
    color: var(--main-color);
  }
  
nav .active {
    color: var(--main-color);
  }

/************* Hero **************/

.hero {
    margin-top: 80px;
    text-align: center;
    }

.checkco-logo {
    width: 140px;
    height: 90px;
    margin-bottom: 20px;
    }

.hero p {
    font-size: var(--h5-font);
    color: var(--checkco-darkgray);
    margin: auto;
    max-width: 600px;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
    }

/************* Grid Container **************/

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 100px auto;
    }

.grid-container-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    }

/************* Flex Container **************/

.flex-container {
    display: flex;
    justify-content: space-between;
    }

.flex-container h3 {
    color: var(--checkco-darkgray);
    }

/**************** Problem *****************/

.img-problem {
    width: 100%;
    }

.problems {
    grid-row:2;
    grid-column: 2;
    }

/**************** Challenge *****************/

.challenge p {
    font-size: var(--h5-font);
    font-weight: 500;
    }

/**************** Process *****************/
.grid-container-col-3 p {
    background-color: var(--checkco-gray);
    border-radius: 10px;
    padding: 20px;
    align-content: center;
    text-align: center;
}

.research-content {
    grid-row: 2;
    grid-column: 2;
    }

.img-research {
    width: 100%;
    text-align: center;
    } /* bigger picture */

/**************** Solution *****************/

.solution img {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    }

.solution-explain {
    grid-column: 2;
    grid-row: 2;
    }

.deliverable {
    text-align: center;
    }

.deliverable p {
    font-size: var(--h3-font);
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
    }

/**************** About *****************/
.about { 
    width: 800px;
    margin: 100px auto;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.about img{
    width: 300px;
    height: 200px;
}

/**************** Media Queries *****************/
/* @media screen and (max-width: 768px) {
    body {
        max-width: 668px;
        line-height: 24px;
    }

    .title {
        font-size: var(--h4-font);
    }
    
    .subtitle {
        font-size: (--h5-font);
    }

    .challenge p{
        font-size: (var(--body-font));
        font-weight: 500;
    }

    .grid-container{
        column-gap: 15px;
    }

    .grid-content {
        column-gap: 20px;
    }
}


@media screen and (max-width: 820px) {
    body {
        max-width: 720px;
        line-height: 26px;
    }

    .title {
        font-size: var(--h4-font);
    }
    
    .subtitle {
        font-size: (--h5-font);
    }

    .challenge p{
        font-size: (var(--body-font));
        font-weight: 500;
    }

    .grid-container{
        column-gap: 10px;
    }

    .grid-content {
        column-gap: 15px;
    }
} */


